<%= form_for(@new_paste) do |f| %>
    <div class="field">
      <%= f.text_area :text , :size => "48x24" %>
    </div>
    <div class="submit_paste">
      <%= f.submit :value => "Paste!" %>
    </div>
<% end %>
