.main_area {
    width: 525px;
    margin-left: auto;
    margin-right: auto;
}

.content_area {
    display: block;
}

.header {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 10px;
}

.footer {
    font-size: 8px;
    text-align: center;
    margin-top: 20px;
}

.paste_area {
    display: inline-block;
    vertical-align: top;
    width: 400px;
}

.paste_show {
    display: block;
    border: 3px solid gray;
    height: 360px;
    padding: 5px 5px 5px 5px;
}

.new_paste_link {
    display: block;
    text-align: center;
}

.recent_pastes {
    display: inline-block;
    vertical-align: top;
    width: 120px;
}

.ind_paste {
    text-align: left;
}

.flash {
    color: #8a2be2;
    font-size: 15px;
    line-height: 15px;
}

.submit_paste {
    text-align: center;
}

.paste_url {
    text-align: center;
    margin-bottom: 7px;
}